<h2>Hola Amiguitos</h2>
<a href="/friends/new_friend">crear un amigo</a>
<ul>
  <% @friends.each_with_index do |friend, index|%>
  <li>
    <div>
    <a href="/friends/<%=index%>"> ver </a>  <%=friend[:name]%>
    <a href="/friends/<%=index%>/edit"> editar </a>
    </div>
  <%end %>
</ul>
