<h2> Creando un amigo</h2>
<form action="/friends" method="post">
  <input type="hidden" name="_method" value="post">
   Name:<input type="text" name="friend[name]">
   Last name:<input type="text" name="friend[last_name]">
   Age:<input type="text" name="friend[age]">
   <button type="submit">crear</button>
</form>
